.flaotRightBottom {
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-color: royalblue;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.container {
  background-color: white;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
  color: rgb(87, 87, 87);
}

.contMenu {
  width: 300px;
}

.cont_title {
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px 20px;
  color: rgb(0, 130, 135);
}

.Menu > li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.Menu > li:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

.Menu > li:active {
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
}
