body {
  background-color: lightgray;
  font-family: "Segeo UI", Arial, Helvetica, sans-serif;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgb(0, 130, 135);
  background: linear-gradient(
    90deg,
    rgba(0, 130, 135, 1) 0%,
    rgba(2, 52, 136, 1) 100%
  );
  color: white;
  display: flex;
  align-items: center;
}

.Page {
  flex: 1;
  margin: 0px 30px;
  display: flex;
  flex-wrap: wrap;
}

.pageContent {
  flex: 1;
  margin-left: 20px;
}

.pageTitle {
  padding: 20px 30px;
  font-size: 1em;
  flex: 1;
}

.topMenu {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0px 30px;
}

.topMenu > li {
  cursor: pointer;
}

.userInfo {
  padding: 0px 20px;
}

.userInfo > img {
  padding: 10px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

li {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 87.5vh;
}

.mainLogo {
  text-align: center;
  padding: 20px;
}

.mainMenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menuContainer {
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 2px 8px #888888;
  padding-bottom: 100px;
}

.menuTitle {
  font-size: 1.8em;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.menuList > li {
  margin: 10px;
  padding: 5px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.menuList > li:hover {
  background-color: lightgray;
  border-radius: 10px;
}

footer {
  background: rgb(47, 47, 47);
  color: rgb(230, 228, 228);
  margin-top: 50px;
  text-align: center;
  padding: 20px;
}

.bottomFooter > .bar {
  background: rgb(0, 130, 135);
  background: linear-gradient(
    90deg,
    rgba(0, 130, 135, 1) 0%,
    rgba(2, 52, 136, 1) 100%
  );
  width: 100%;
  height: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: all 0.3s;
}

button:hover {
  background-color: rgb(216, 216, 216);
}
button:active {
  transform: scale(0.95);
  background-color: rgb(255, 255, 255);
}

.primary {
  background-color: #008287;
  min-width: 100px;
  color: white;
}
.primary:hover {
  background-color: #0b979c;
}
.primary:active {
  background-color: #1eb1b6;
}

.searchMenu {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}
.searchName {
  flex: 1;
  margin-right: 10px;
}

.searchPhone {
  width: 100%;
  max-width: 300px;
}

table.default,
table.default th,
table.default td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}

table.default tr.item:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

input,
select {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}
input:focus,
button:focus {
  outline: none;
}

/* ************************* */

.content {
  align-items: center;
}
.homeMenu {
  margin-top: 30px;
  width: 100%;
  max-width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeButton {
  width: 100%;
  max-width: 300px;
  height: 100px;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 46%,
    rgb(217, 226, 248) 100%
  );
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #888888;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.homeButton:hover {
  transform: scale(1.05);
}
.homeButton:active {
  transform: scale(0.95);
}

.homeBTtitle {
  font-size: 1.5em;
  font-weight: 300;
}

.homeBTicon,
.homeBTicon > img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.PopUpBack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.PopUp_cont {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.Debit {
  color: red;
}

.Credit {
  color: green;
}

nav {
  background: rgb(0, 130, 135);
  background: linear-gradient(
    90deg,
    rgba(0, 130, 135, 1) 0%,
    rgba(2, 52, 136, 1) 100%
  );
  padding: 0px 30px;
  border-radius: 50px;
  display: flex;
}

nav > li {
  padding: 10px;
  min-width: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ********** */
/*  Add Form  */
/* ********** */

form.addForm,
form.entryForm {
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-bottom: 30px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  grid-template-columns: 150px 1fr;
}

form.entryForm {
  grid-template-columns: 150px 1fr 150px 1fr;
}

.entryForm > .col-2-5 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.addForm > label,
.entryForm > label {
  text-align: right;
}

.addForm > textarea,
.entryForm > textarea {
  max-width: 300px;
  min-width: 300px;
  min-height: 70px;
}

.addForm > button {
  margin-left: auto;
}

.centerText {
  text-align: center;
}

h3.green {
  color: #008287;
}

.boxTable {
  height: 300px;
  overflow-y: scroll;
}

@media only screen and (max-width: 905px) {
  .sideMenu {
    margin: auto;
  }
}
@media only screen and (max-width: 560px) {
  form.addForm {
    grid-template-columns: 1fr;
  }
  .addForm > label {
    text-align: left;
  }
}
